<a href="https://colab.research.google.com/github/supatsara2002/BasicProg_DataViz65/blob/main/pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
unit = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype.csv')
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [4]:
unit.shape

(42625, 27)

In [5]:
unit.describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,0.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,NaN,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,NaN,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

## ตรวจสอบ Missing (isnull)

In [6]:
unit.isnull()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,True,False,True,...,True,True,True,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,False,False,False,False,False,False,False,True,False,True,...,True,False,True,True,True,True,False,False,False,False
42621,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,False,False,False,False
42622,False,False,False,False,False,False,False,True,False,True,...,False,True,True,True,True,True,False,False,False,False
42623,False,False,False,False,False,False,False,True,False,False,...,True,False,True,True,True,True,False,False,False,False
42624,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,True,False,False,False,False

In [7]:
unit.isnull().any() # การเอาค่าความจริง ใน column มา or กัน

row_number              False
unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min                True
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype             True
dtype: bool

In [8]:
unit.isnull().all() # .all()การเอาค่าความจริง ใน column มา and กัน

row_number              False
unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa       False
area_usable_min         False
price_min               False
count_airconditioner    False
count_elevator           True
count_floor_internal    False
count_parking           False
count_room_bath         False
count_room_bed          False
count_room_dinning      False
count_room_guest        False
count_room_kitchen      False
count_room_living       False
count_room_maid         False
count_room_storage      False
count_room_utility      False
date_created            False
date_updated            False
source                  False
url_unittype            False
dtype: bool

unit.isnull().any().any() --> ?

In [9]:
unit.isnull().any().any()

True

## ลบ Missing

missing --> null, na (not autorized) , NaN (not a number)

In [13]:
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [10]:
unit.dropna()

Empty DataFrame
Columns: [row_number, unittype_id, project_id, name_th, propertytype_id, propertytype_name_en, propertytype_name_th, area_total_min_wa, area_usable_min, price_min, count_airconditioner, count_elevator, count_floor_internal, count_parking, count_room_bath, count_room_bed, count_room_dinning, count_room_guest, count_room_kitchen, count_room_living, count_room_maid, count_room_storage, count_room_utility, date_created, date_updated, source, url_unittype]
Index: []

[0 rows x 27 columns]

In [11]:
unit.dropna(axis=1)

,row_number,unittype_id,project_id,propertytype_id,propertytype_name_en,propertytype_name_th,date_created,date_updated,source
0,27501,unittype_9565,project_2446,2,Condo,คอนโด,2021-11-19 18:00:09,2021-11-19 17:44:45,baania
1,28777,unittype_10267,project_3543,20000,Twin house,บ้านแฝด,2022-01-27 14:30:04,2022-01-27 14:22:55,baania
2,28865,unittype_471,project_143,2,Condo,คอนโด,2022-01-14 15:00:10,2022-01-14 14:40:04,baania
3,24988,unittype_19506,project_7766,2,Condo,คอนโด,2020-12-04 10:40:59,2020-10-14 01:06:48,baania
4,38596,unittype_10290,project_3551,3,Townhome,ทาวน์โฮม,2021-11-12 13:30:08,2021-02-03 12:12:54,baania
...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,1,Detached House,บ้าน,2021-11-12 13:22:37,2020-10-14 10:05:42,baania
42621,14,unittype_14016,project_5275,1,Detached House,บ้าน,2020-12-04 10:36:32,2020-10-14 00:37:51,baania
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,3,Townhome,ทาวน์โฮม,2021-11-12 13:34:17,2021-10-29 18:43:09,baania
42623,9333,unittype_37375,project_16389,1,Detached House,บ้าน,2020-12-04 10:42:26,2020-10-14 19:30:46,baania
42624,780,unittype_17011,project_6762,1,Detached House,บ้าน,2021-11-12 13:19:43,2020-10-14 00:41:39,baania

In [14]:
unit.dropna(how='all')

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,NaN,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,NaN,133.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [16]:
unit.dropna(thresh=8)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,NaN,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,NaN,133.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [29]:
unit.iloc[0,:]

row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
Name: 0, dtype: object

In [43]:
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...

In [45]:
unit.head().dropna(axis=1,thresh=2)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,NaN,1.0,2.0,1.0,1.0,1.0,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,2.0,3.0,3.0,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,1.0,0.0,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,2.0,3.0,3.0,1.0,1.0,1.0,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,2.0,4.0,3.0,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...

In [31]:
unit.head().dropna(thresh=10)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [33]:
unit.head().dropna(axis=0,thresh=10)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [34]:
unit.dropna(subset=['propertytype_name_en','price_min','area_usable_min'])

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42618,22299,unittype_13674,project_5356,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,130.0,36500000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/บ้านศุธาวัลย์-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,NaN,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [35]:
unit1 = unit.dropna(subset=['propertytype_name_en','price_min','area_usable_min'])

In [37]:
unit1.shape

(31772, 27)

In [36]:
unit.shape

(42625, 27)

In [41]:
unit.dropna(subset=['propertytype_name_en','price_min','area_usable_min'],inplace=True)

In [42]:
unit.shape

(31772, 27)

##  แทนค่า Missing ด้วยค่าที่เราต้องการ (fillna())

In [46]:
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...

In [48]:
unit.fillna(0)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,0.0,37.3,2500000.0,...,1.0,1.0,0.0,0.0,0.0,0.0,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,0.0,27.0,170000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,0.0,182.0,2390000.0,...,1.0,1.0,0.0,0.0,2.0,0.0,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42618,22299,unittype_13674,project_5356,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,0.0,130.0,36500000.0,...,0.0,0.0,1.0,0.0,0.0,0.0,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/บ้านศุธาวัลย์-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,0.0,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,0.0,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,0.0,223.0,7490000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,0.0,180.0,3200000.0,...,0.0,1.0,0.0,0.0,0.0,0.0,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,0.0,170.0,3790000.0,...,1.0,1.0,0.0,0.0,0.0,0.0,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [50]:
unit.fillna(value={'count_room_utility':0,'area_total_min_wa':unit['area_total_min_wa'].mean()})

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,44.084933,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,0.0,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.000000,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,0.0,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,44.084933,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,0.0,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,44.084933,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,0.0,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.500000,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,0.0,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42618,22299,unittype_13674,project_5356,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,44.084933,130.0,36500000.0,...,NaN,NaN,1.0,NaN,NaN,0.0,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/บ้านศุธาวัลย์-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,44.084933,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,0.0,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,44.084933,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,0.0,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,44.084933,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,0.0,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,44.084933,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,0.0,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...